<div class="container cards col">
  <!-- Trip Card Left Side of Screen-->

    <div class="trip-card-show col-4 ">
      <%= cl_image_tag @trip.photo.key, class: "trip-photo-show" if @trip.photo.present? %>
      <div class="card-body">
        <h4 class="card-title my-2"><%= @trip.origin %> <i class="fa-solid fa-arrow-right"></i> <%= @trip.destination %></h4>
        <br><div class="d-flex mt-2 align-items-center"><p class="card-text"><strong>Description:</strong> <%= @trip.description %></p></div>
        <br><div class="d-flex mt-2 align-items-center"><i class="fa-solid fa-sailboat me-1"></i><p class="card-text"><strong>Departure:</strong> <%= @trip.time_of_departure %></p></div>
        <br><div class="d-flex mt-2 align-items-center"><i class="fa-solid fa-anchor me-1"></i><p class="card-text"><strong>Arrival:</strong> <%= @trip.time_of_arrival %></p></div>
        <br><div class="d-flex mt-2 align-items-center"><i class="fa-solid fa-person me-1"></i> <p class="card-text"><strong>Capacity:</strong> <%= @trip.number_of_people %></p></div>
        <br><div class="d-flex mt-2 align-items-center"><i class="fa-solid fa-bolt me-1"></i><p class="card-text"><strong>Available seats:</strong> <%= @trip.seat_available %></p></div>
        <br><div class="d-flex mt-2 mb-4 align-items-center"><i class="fa-solid fa-euro-sign me-1"></i><p class="card-text"><strong>Price per seat:</strong> <%= @trip.price %></p></div>

<%# TOGGLE BUTTON %>
        <br><div data-controller="toggle" class="next-step" id="buttonModal">
          <button data-action="click->toggle#fire" class="btn btn-outline-primary">Book this trip</button>
<%# FORM %>
          <div data-toggle-target="togglableElement" class="d-none booking-card">
            <%= render partial: "shared/prebooking_form"%>
          </div>

        </div>
      </div>
    </div>

  <!-- Elements right side of screen -->
  <div class="container col-8">
    <div class="map-captain-container col-10">
      <div class="cards">
        <!-- Capt'n card -->
        <div class="profile-card col-3">
          <p><strong>Capt'n of the boat</strong></p>
          <div class="square">
            <%= cl_image_tag @trip.user.avatar.key, class: "avatar-bordered" if @trip.user.avatar.present? %>
          </div>
          <div class="d-flex my-2 align-items-center name">
            <i class="fa-solid fa-user-tie"></i> <%= @trip.user.first_name %> <%= @trip.user.last_name %></p>
          </div>
        </div>

        <!-- Boat logo -->
        <div class="margin-auto col-2">
          <%= image_tag "logo_white_bg.png", class: "small-image", alt: "Boat Logo" %>
        </div>

        <!-- Passengers card -->
        <div class="profile-card-passengers col-3">
          <p class ="mb-0"><strong>Your co-passengers</strong></p>
            <div class="cards">
              <% @trip.bookings.each_with_index do |booking, index| %>
                <% break if index == 3 %>
                <div class="square">
                  <% unless current_user == booking.user %>
                    <%= cl_image_tag booking.user.avatar.key, class: "avatar-large"%>
                    <p class="name-close"><%= booking.user.first_name %> </p>
                    <% if booking.number_of_people > 1 %>
                      <div class="number-of-guests">
                      <p class="centered"><%= booking.number_of_people %> <i class="fa-solid fa-user fa-2xs"></i></p>
                     </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <!-- Pop up hover -->
            <div class="tooltip-wrap">
            <% if @trip.bookings.count > 3 %>
              <p class="show-more">Show more</p>
                <div class="tooltip-content passengers-info">
                  <p><strong> <%= @trip.bookings.count %> people booked this trip </strong></p>
                  <% @trip.bookings.each do |booking| %>
                    <% if booking.number_of_people == 1 %>
                      <p> <%= booking.user.first_name %> will climb on board on his own !</p>
                    <% elsif booking.number_of_people == 2 %>
                    <p> <%= booking.user.first_name %> will climb on board with <%= booking.number_of_people - 1 %> friend</p>
                    <% else %>
                      <p> <%= booking.user.first_name %> will climb on board with <%= booking.number_of_people - 1 %> friends</p>
                    <% end %>
                  <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="map-show">
      <%= render partial: "shared/map" %>
      </div>
    </div>
  </div>


</div>

<% if @pre_booking.errors.messages %>
<% @pre_booking.errors.messages.values.flatten.each do |message| %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= message %>
  </div>
  <% end %>
<% end %>
