<div class="container cards">
  <div class='col-3'>
    <div class="trip-card-show">
      <%= cl_image_tag @trip.photo.key, class: "trip-photo-show" if @trip.photo.present? %>
      <div class="card-body">
        <h4 class="card-title"><%= @trip.origin %> <i class="fa-solid fa-sailboat fa-2xs"></i> <%= @trip.destination %></h4>
        <br>
        <p class="card-text"><strong>Departure date:</strong> <%= @trip.time_of_departure %></p>
        <p class="card-text"><strong>Arrival date:</strong> <%= @trip.time_of_arrival %></p>
        <i class="fa-solid fa-person"></i>
        <p class="card-text"><strong>Capacity:</strong> <%= @trip.number_of_people %></p>
        <i class="fa-solid fa-bolt"></i>
        <p class="card-text"><strong>Available seats:</strong> <%= @trip.seat_available %></p>
        <p current_user.first_name p>
        <p class="card-text"><strong>Price per member:</strong> <%= @trip.price %></p>
        <%= link_to "Book this trip", new_trip_booking_path(@trip), class: "btn btn-primary next-step" %>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="map-captain-container">
      <div class="cards">
        <div class="profile-card">
          <p><strong>Capt'n of the boat</strong></p>
            <div class="square">
              <%= cl_image_tag @trip.user.avatar.key, class: "avatar-large" if @trip.user.avatar.present? %>
            </div>
          <p class="name"><%= @trip.user.first_name %> <%= @trip.user.last_name %> </p>
        </div>

        <div class="margin-auto">
          <%= image_tag "logo_white_bg.png", class: "small-image", alt: "Navbar Logo" %>
        </div>

        <div class="profile-card-passengers">
          <p><strong>Your passengers</strong></p>
            <div class="cards">
                <% @trip.bookings.each do |booking| %>
                  <div class="square">
                  <%= cl_image_tag booking.user.avatar.key, class: "avatar-large"%>
                  </div>
                  <% end %>
            </div>
          </div>
         </div>

      <%= render partial: "shared/map" %>

    </div>
  </div>

</div>
