<div class="card-body col">
  <div class="d-flex my-2 align-items-center">
    <%= cl_image_tag booking.user.avatar.key, class: "avatar-large" if booking.user.avatar.present? %>
    <h4 class="card-title mb-1"><%= booking.user.first_name %> <%= booking.user.last_name %> </h4>
    <%= simple_form_for booking do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
      <%= f.submit 'Accept', class: 'btn btn-info' %>
    <% end %>
    <%= link_to 'Reject',booking_path(booking),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-light"%>
</div>
</div>

