<h1>Paye batard</h1>
<% if @booking.errors.messages %>
<% @booking.errors.messages.values.flatten.each do |message| %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= message %>
  </div>
  <% end %>
<% end %>

<div class="d-flex mt-2 mb-4 align-items-center">
  <p class="card-text"><i class="fa-solid fa-euro-sign me-1"></i><strong>Price per seat:</strong> <%= @trip.price %></p>
</div>

  <%= simple_form_for [@trip, @booking] do |f| %>
    <div class="form-inputs">
      <%= f.input :number_of_people %>
    </div>
    <div class="form-actions">
      <%= f.submit %>
    </div>
  <% end %>
