<div class="container d-flex justify-content-center">
  <div class="height-nav w-50 ">
  <h2>Book your trip!</h2>
    <% if @pre_booking.errors.messages %>
      <% @pre_booking.errors.messages.values.flatten.each do |message| %>
        <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <%= message %>
        </div>
      <% end %>
    <% end %>
    <p class="card-text"><strong>Price:</strong> <%= @trip.price %></p>
<div class="p-3">
  <%= simple_form_for [@trip, @pre_booking] do |f| %>
    <div class="form-inputs">
      <%= f.input :number_of_people %>
    </div>
    <div class="form-actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
</div>
</div>
